<!-- 
  Author: Manda Jensen
  Program: Baby-Beirne-Bets
  Date: 1/16/2020
 -->

<!DOCTYPE html>
<html>  
  <head>
    <meta charset="UTF-8">
  <!-- format for newest version, does not work with current formatting
    <meta name="viewport" contents="width=device-width, initial-scale=1, shrink-to-fit=no">
    -->

    <title>Baby Beirne Bets - {% block title %}{% endblock %}</title>
    <!--link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}"-->
    <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Link to next version, does not work with current formatting
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    -->

    <!-- Latest compiled Chart.js library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

    <!-- Raleway font from Google -->
    <!-- https://fonts.google.com/specimen/Raleway?selection.family=Raleway -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100&display=swap" rel="stylesheet">
    <style>
      /*Remove jumbotron's default bottom margin */
      .jumbotron {
        margin-bottom: 0;

      }
      /*Remove navbar default orunded borders and bottom margin*/
      .navbar {
        margin-bottom: 0;
        border-radius: 0;
      }
      /*Adjust carousel image size*/
      .carousel-inner img {
        width: 50%;
        margin:auto;
        min-height: 200px;
      }
      /*Remove carousel-captions on small screens*/
      @media (max-width: 600px) {
        .carousel-caption {
          display: none;
        }
      }
    </style>
  </head>
  <body>

    <!-- Header -->
    <div class="container-fluid">
      <div class="jumbotron-fluid text-center">
        <h1>Baby Beirne Bets</h1>
          <p class='header-subtext'>Baby Beirne is on the way, lets have some friendly competitive fun while we wait!</p>
          <br>
      </div>
    </div>    

    <!-- Navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#homeNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <p class="navbar-brand">Baby Beirne Bets</p>
        </div>
        <div class="collapse navbar-collapse" id="homeNavbar">
        <ul class="nav navbar-nav">
          <li><a class="nav-link active" href="/">Welcome</a></li>
          <li><a class="nav-link active" href="/danAndAsha">Dan and Asha</a></li>
          <li><a class="nav-link active" href="/placeBets">Place Bets</a></li class="nav-item">
          <li><a class="nav-link active" href="/viewMyBets">View My Bets</a></li>
          <li><a class="nav-link active" href="/viewPaidBets">View Paid Bets</a></li>
          <li><a class="nav-link active" href="/viewAllBets">View All Bets</a></li class="nav-item">
          <li><a class="nav-link active" href="/winners">Winners</a></li>
        </ul>
        </div>
      </div>
    </nav>



    <!-- Individual Page Content Will Go Here -->
    {% block content %}{% endblock %}

    <!-- Link to newest version, does not work with current formatting
    <! -- JavaScript plugins required for bootstrap to work -- >
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  -->
  </body>
</html>
