{% extends 'base.html' %}

{% block title %}Place Bets{% endblock %}

{% block content %}

    <div class="container">
        <div class="page-header">
          <h1>Place Bets</h1>
        </div>
    </div>

    <div class="container">
        <div class="page-header">
            <h3>Instructions</h3>
        </div>
        <p>
            If you have already placed bets with your email, enter your email below. If you have not placed bets with your email yet, please enter your name and email below.<br>
            Once your email has been registered, enter the registered email then enter the bets you would like to place and submit.<br>
            Each email can only be associated with one bet of each type. To view all of the bets you currently have placed, go to the View My Bets page and enter the email you used to place the bets.
        </p>
    </div>


    {% if email %}
        <div class="container">
            <div class="page-header">
                <h2>Place Bets with Email: {{ email[0] }}</h2>
            </div>
            <h3>To place bets with a different email click <a href="/placeBets">here</a></h3>
        </div>

    {%  elif newEmail %}
        <div class="container">
            <div class="page-header">
                <h2>Place Bets with Email: {{ newEmail[0] }}</h2>
            </div>
            <h3>To place bets with a different email click <a href="/placeBets">here</a></h3>
        </div>

    {% else %}
        <div class="container">
            <div class="page-header">
                <h2>Enter Email to Place Bets With</h2>
            </div>
            <form action="/placeBets" method="POST">
                 <div class="form-group">
                      <label for="newEmail">Email address:</label>
                      <input type="email" name="newEmail" class="form-control" id="newEmail" placeholder="E-mail">
                      <p class="h5 mb-4 text-center">Check Which Categories You Want To Place Bets In</p>
                      <div class="funkyradio-primary">
                           <input type="checkbox" name="betCateogries" class="form-control" id="placeDateBet" />
                           <label for="placeDateBet">Baby's Birth Date</label>
                      </div>
                      <div class="funkyradio-primary">
                           <input type="checkbox" name="betCateogries" class="form-control" id="placeTimeBet" />
                           <label for="placeDateBet">Baby's Birth Date</label>
                      </div>
                      <div class="funkyradio-primary">
                           <input type="checkbox" name="betCateogries" class="form-control" id="placeWeightBet" />
                           <label for="placeDateBet">Baby's Birth Date</label>
                      </div>
                      <div class="funkyradio-primary">
                           <input type="checkbox" name="betCateogries" class="form-control" id="placeLengthBet" />
                           <label for="placeDateBet">Baby's Birth Date</label>
                      </div>
                      <div class="funkyradio-primary">
                           <input type="checkbox" name="betCateogries" class="form-control" id="placeHairBet" />
                           <label for="placeDateBet">Baby's Birth Date</label>
                      </div>
                      <div class="funkyradio-primary">
                           <input type="checkbox" name="betCateogries" class="form-control" id="placeFNameBet" />
                           <label for="placeDateBet">Baby's Birth Date</label>
                      </div>
                      <div class="funkyradio-primary">
                           <input type="checkbox" name="betCateogries" class="form-control" id="placeMNameBet" />
                           <label for="placeDateBet">Baby's Birth Date</label>
                      </div>
                 </div>
                <button type="submit" class="btn btn-default" value="submitEmail">Submit</button>
            </form>
            <br>
        </div>
    {% endif %}

    {% if email or newEmail %}
        <div class="container">
            <form class="border border-light p-5" action="/betsPlaced" method="POST">
                <p class="h4 mb-4 text-center">Place Bets</p>
                <div class="form-group">
                    {% if email %}
                        <input type="text" value={{ email[0] }} name="submitEmail" id="submitEmail" hidden>
                        <input type="text" value={{ userID }} name="userID" id="userID" hidden>
                    {% else %}
                        <input type="text" value={{ newEmail[0] }} name="submitEmail" id="submitEmail" hidden>
                        <div class="border border-light p-5">
                            <p class="h5 mb-4 text-center">Enter User's Information</p>
                            <label for="firstName" class="active">First Name</label>
                            <input type="text" name="firstName" id="firstName" class="form-control mb-4" placeholder="Enter user's first name" required>

                            <label for="lastName" class="active">Last Name</label>
                            <input type="text" name="lastName" id="lastName" class="form-control mb-4" placeholder="Enter user's last name" required>
                        </div>
                    {% endif %}
                    <br>
                    <div class="border border-light p-5">
                        <p class="h5 mb-4 text-center">Enter Bets</p>
                        {% if user_bDate and placeBet['Date'] %}
                            <label for="birthDate" class="active">Birth Date</label>
                            <select class="browser-default custom-select mb-4" name="birthDate" id="birthDate" required>
                                <option value="" disabled="" selected="">Choose the date</option>
                                {% for day in date %}
                                    <option value="{{ day[0] }}">{{ day[1] }}</option>
                                {% endfor %}
                            </select>
                        {% elif placeBet['Date'] %}
                            <p>You have already placed a birth date bet under this email.</p>
                        {% endif %}
                    <br>
                        {% if user_bTime and placeBet['Time'] %}
                            <label for="birthHour" class="active">Birth Time</label>
                            <select class="browser-default custom-select mb-4" name="birthHour" id="birthHour" required>
                                <option value="" disabled="" selected="">Hour</option>
                                {% for time in hour %}
                                    <option value="{{ time[0] }}">{{ time[1] }}</option>
                                {% endfor %}
                            </select>
                            <select class="browser-default custom-select mb-4" name="birthMinute" id="birthMinute" required>
                                <option value="" disabled="" selected="">Minute</option>
                                {% for time in minute %}
                                    <option value="{{ time[0] }}">{{ time[1] }}</option>
                                {% endfor %}
                            </select>
                        {% elif placeBet['Time'] %}
                            <p>You have already placed a birth time bet under this email.</p>
                        {% endif %}
                    <br>
                        {% if user_bWeight and placeBet['Weight'] %}
                            <label for="birthLb" class="active">Birth Weight</label>
                            <select class="browser-default custom-select mb-4" name="birthLb" id="birthLb" required>
                                <option value="" disabled="" selected="">Pounds</option>
                                {% for weight in lb %}
                                    <option value="{{ weight[0] }}">{{ weight[1] }}</option>
                                {% endfor %}
                            </select>
                            <select class="browser-default custom-select mb-4" name="birthOz" id="birthOz" required>
                                <option value="" disabled="" selected="">Ounces</option>
                                {% for ounce in oz %}
                                    <option value="{{ ounce[0] }}">{{ ounce[1] }}</option>
                                {% endfor %}
                            </select>
                        {% elif placeBet['Weight'] %}
                            <p>You have already placed a birth weight bet under this email.</p>
                        {% endif %}
                    <br>
                        {% if user_bLength and placeBet['Length'] %}
                            <label for="birthLength" class="active">Birth Length</label>
                            <select class="browser-default custom-select mb-4" name="birthLength" id="birthLength" required>
                                <option value="" disabled="" selected="">Inches</option>
                                {% for length in inches %}
                                    <option value="{{ length[0] }}">{{ length[1] }}</option>
                                {% endfor %}
                            </select>
                        {% elif placeBet['Length'] %}
                            <p>You have already placed a birth length bet under this email.</p>
                        {% endif %}
                    <br>
                        {% if user_bHair and placeBet['Hair'] %}
                            <label for="birthHair" class="active">Birth Hair Color</label>
                            <select class="browser-default custom-select mb-4" name="birthHair" id="birthHair" required>
                                <option value="" disabled="" selected="">Color</option>
                                {% for color in hair %}
                                    <option value="{{ color[0] }}">{{ color[1] }}</option>
                                {% endfor %}
                            </select>
                        {% elif placeBet['Hair'] %}
                            <p>You have already placed a hair color bet under this email.</p>
                        {% endif %}
                    <br>
                        {% if user_bFName and placeBet['FName'] %}
                            <label for="birthFN" class="active">Baby's First Name Initial</label>
                            <select class="browser-default custom-select mb-4" name="birthFN" id="birthFN" required>
                                <option value="" disabled="" selected="">Initial</option>
                                {% for initial in FNletter %}
                                    <option value="{{ initial[0] }}">{{ initial[1] }}</option>
                                {% endfor %}
                            </select>
                        {% elif placeBet['FName'] %}
                            <p>You have already placed a first initial bet under this email.</p>
                        {% endif %}
                    <br>
                        {% if user_bMName and placeBet['MName'] %}
                            <label for="birthMN" class="active">Baby's Middle Name Initial</label>
                            <select class="browser-default custom-select mb-4" name="birthMN" id="birthMN" required>
                                <option value="" disabled="" selected="">Initial</option>
                                {% for initial in MNletter %}
                                    <option value="{{ initial[0] }}">{{ initial[1] }}</option>
                                {% endfor %}
                            </select>
                        {% elif placeBet['MName'] %}
                            <p>You have already placed a middle initial bet under this email.</p>
                        {% endif %}
                    <br>
                    </div>

                    <button class="btn btn-info btn-block" type="submit" id="submitBet" name="submitBets" value="submitBets">Submit Bets</button>

                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}