{% extends 'base.html' %}

{% block title %}View All Bets{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Current Bets, Paid and Unpaid</h1>
        </div>

        <div class="card" style="width: 288px;">
            <canvas class="card-img-top" id="allDateBets" width="288" height="180"></canvas>
            <div class="card-body">
                <h5 class="card-title">All Birth Date Bets</h5>
                <ul class="card-text">
                    <li>Total Bets: {% if bDateData[0] %}{{ bDateData[0] }}{% else %}0{% endif %}</li>
                    <li>Total Paid Bets: {% if bDateData[1] %}{{ bDateData[1]}}{% else %}0{% endif %}</li>
                </ul>
            </div>
        </div>

        <div class="card" style="width: 288px;">
            <canvas class="card-img-top" id="allTimeBets" width="288" height="180"></canvas>
            <div class="card-body">
                <h5 class="card-title">All Birth Time Bets</h5>
                <ul class="card-text">
                    <li>Total Bets: {% if bTimeData[0] %}{{ bTimeData[0] }}{% else %}0{% endif %}</li>
                    <li>Total Paid Bets: {% if bTimeData[1] %}{{ bTimeData[1] }}{% else %}0{% endif %}</li>
                </ul>
            </div>
        </div>

            <div class="card" style="width: 288px;">
            <canvas class="card-img-top" id="allWeightBets" width="288" height="180"></canvas>
            <div class="card-body">
                <h5 class="card-title">All Birth Weight Bets</h5>
                <ul class="card-text">
                    <li>Total Bets: {% if bWeightData[0] %}{{ bWeightData[0] }}{% else %}0{% endif %}</li>
                    <li>Total Paid Bets: {% if bWeightData[1] %}{{ bWeightData[1] }}{% else %}0{% endif %}</li>
                </ul>
            </div>
        </div>

            <div class="card" style="width: 288px;">
            <canvas class="card-img-top" id="allLengthBets" width="288" height="180"></canvas>
            <div class="card-body">
                <h5 class="card-title">All Birth Length Bets</h5>
                <ul class="card-text">
                    <li>Total Bets: {% if bLengthData[0] %}{{ bLengthData[0] }}{% else %}0{% endif %}</li>
                    <li>Total Paid Bets: {% if bLengthData[1] %}{{ bLengthData[1] }}{% else %}0{% endif %}</li>
                </ul>
            </div>
        </div>

        <div class="card" style="width: 288px;">
            <canvas class="card-img-top" id="allHairBets" width="288" height="180"></canvas>
            <div class="card-body">
                <h5 class="card-title">All Hair Color Bets</h5>
                <ul class="card-text">
                    <li>Total Bets: {% if bHairData[0] %}{{ bHairData[0] }}{% else %}0{% endif %}</li>
                    <li>Total Paid Bets: {% if bHairData[1] %}{{ bHairData[1] }}{% else %}0{% endif %}</li>
                </ul>
            </div>
        </div>

            <div class="card" style="width: 288px;">
            <canvas class="card-img-top" id="allFNameBets" width="288" height="180"></canvas>
            <div class="card-body">
                <h5 class="card-title">All First Initial Bets</h5>
                <ul class="card-text">
                    <li>Total Bets: {% if bFNameData[0] %}{{ bFNameData[0] }}{% else %}0{% endif %}</li>
                    <li>Total Paid Bets: {% if bFNameData[1] %}{{ bFNameData[1] }}{% else %}0{% endif %}</li>
                </ul>
            </div>
        </div>

        <div class="card" style="width: 288px;">
            <canvas class="card-img-top" id="allMNameBets" width="288" height="180"></canvas>
            <div class="card-body">
                <h5 class="card-title">All Middle Initial Bets</h5>
                <ul class="card-text">
                    <li>Total Bets: {% if bMNameData[0] %}{{ bMNameData[0] }}{% else %}0{% endif %}</li>
                    <li>Total Paid Bets: {% if bMNameData[1] %}{{ bMNameData[1] }}{% else %}0{% endif %}</li>
                </ul>
            </div>
        </div>
    </div>

    <script>

    var allBackgroundColor = [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)'
    ];
    var allBorderColor = [
        'rgba(255, 99, 132, 1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
    ];
    var colorTypes = 6

        {% if bDateData[3] %}
        var allBDateEle = document.getElementById('allDateBets');
        var allDateBets = [];
        var allDateCounts = [];
        var bdBackgroundColor = [];
        var bdBorderColor = [];
        var bdColorCount = 0;
        {% for value in bDateData[3] %}
            allDateCounts.push({{ value[0] }});
            allDateBets.push('{{ value[1] }}');
            bdBackgroundColor.push(allBackgroundColor[bdColorCount]);
            bdBorderColor.push(allBorderColor[bdColorCount]);
            bdColorCount++;
            if (bdColorCount == colorTypes) { bdColorCount=0; }
        {% endfor %}
        var allbDateChar = new Chart(allBDateEle, {
            type: 'horizontalBar',
            data: {
                labels: allDateBets,
                datasets: [{
                    data: allDateCounts,
                    backgroundColor: bdBackgroundColor,
                    borderColor: bdBorderColor
                }]
            },
            options: {
                legend: {
                    display: false
                },
                scales: {
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: "# of Bets"
                        },
                        ticks: {
                            beginAtZero: true,
                            stepSize: 1,
                            suggestedMax: 3
                        }
                    }],
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: "Date (yyyy-mm-dd)"
                        }
                    }]
                }
            }
        });
        {% endif %}

        {% if bTimeData[3] %}
        var allBTimeEle = document.getElementById('allTimeBets');
        var allTimeBets = [];
        var allTimeCounts = [];
        var btBackgroundColor = [];
        var btBorderColor = [];
        var btColorCount = 0;
        {% for value in bTimeData[3] %}
            allTimeCounts.push({{ value[0] }});
            allTimeBets.push('{{ value[1] }}h {{ value[2] }}m');
            btBackgroundColor.push(allBackgroundColor[btColorCount]);
            btBorderColor.push(allBorderColor[btColorCount]);
            btColorCount++;
            if (btColorCount == colorTypes) { btColorCount=0; }
        {% endfor %}
        var allbTimeChar = new Chart(allBTimeEle, {
            type: 'horizontalBar',
            data: {
                labels: allTimeBets,
                datasets: [{
                    data: allTimeCounts,
                    backgroundColor: btBackgroundColor,
                    borderColor: btBorderColor
                }]
            },
            options: {
                legend: {
                    display: false
                },
                scales: {
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: "# of Bets"
                        },
                        ticks: {
                            beginAtZero: true,
                            stepSize: 1,
                            suggestedMax: 3
                        }
                    }],
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: "Time of Day (h,m)"
                        }
                    }]
                }
            }
        });
        {% endif %}

        {% if bWeightData[3] %}
        var allBWeightEle = document.getElementById('allWeightBets');
        var allWeightBets = [];
        var allWeightCounts = [];
        var bwBackgroundColor = [];
        var bwBorderColor = [];
        var bwColorCount = 0;
        {% for value in bWeightData[3] %}
            allWeightCounts.push({{ value[0] }});
            allWeightBets.push('{{ value[1] }}lb {{ value[2] }}oz');
            bwBackgroundColor.push(allBackgroundColor[bwColorCount]);
            bwBorderColor.push(allBorderColor[bwColorCount]);
            bwColorCount++;
            if (bwColorCount == colorTypes) { bwColorCount=0; }
        {% endfor %}
        var allbWeightChar = new Chart(allBWeightEle, {
            type: 'horizontalBar',
            data: {
                labels: allWeightBets,
                datasets: [{
                    data: allWeightCounts,
                    backgroundColor: bwBackgroundColor,
                    borderColor: bwBorderColor
                }]
            },
            options: {
                legend: {
                    display: false
                },
                scales: {
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: "# of Bets"
                        },
                        ticks: {
                            beginAtZero: true,
                            stepSize: 1,
                            suggestedMax: 3
                        }
                    }],
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: "Weight (lb,oz)"
                        }
                    }]
                }
            }
        });
        {% endif %}

        {% if bLengthData[3] %}
        var allBLengthEle = document.getElementById('allLengthBets');
        var allLengthBets = [];
        var allLengthCounts = [];
        var blBackgroundColor = [];
        var blBorderColor = [];
        var blColorCount = 0;
        {% for value in bLengthData[3] %}
            allLengthCounts.push({{ value[0] }});
            allLengthBets.push('{{ value[1] }}');
            blBackgroundColor.push(allBackgroundColor[blColorCount]);
            blBorderColor.push(allBorderColor[blColorCount]);
            blColorCount++;
            if (blColorCount == colorTypes) { blColorCount=0; }
        {% endfor %}
        var allbLengthChar = new Chart(allBLengthEle, {
            type: 'horizontalBar',
            data: {
                labels: allLengthBets,
                datasets: [{
                    data: allLengthCounts,
                    backgroundColor: blBackgroundColor,
                    borderColor: blBorderColor
                }]
            },
            options: {
                legend: {
                    display: false
                },
                scales: {
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: "# of Bets"
                        },
                        ticks: {
                            beginAtZero: true,
                            stepSize: 1,
                            suggestedMax: 3
                        }
                    }],
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: "Length (inches)"
                        }
                    }]
                }
            }
        });
        {% endif %}

        {% if bHairData[3] %}
        var allBHairEle = document.getElementById('allHairBets');
        var allHairBets = [];
        var allHairCounts = [];
        var bhBackgroundColor = [];
        var bhBorderColor = [];
        var bhColorCount = 0;
        {% for value in bHairData[3] %}
            allHairCounts.push({{ value[0] }});
            allHairBets.push('{{ value[1] }}');
            bhBackgroundColor.push(allBackgroundColor[bhColorCount]);
            bhBorderColor.push(allBorderColor[bhColorCount]);
            bhColorCount++;
            if (bhColorCount == colorTypes) { bhColorCount=0; }
        {% endfor %}
        var allbHairChar = new Chart(allBHairEle, {
            type: 'horizontalBar',
            data: {
                labels: allHairBets,
                datasets: [{
                    data: allHairCounts,
                    backgroundColor: bhBackgroundColor,
                    borderColor: bhBorderColor
                }]
            },
            options: {
                legend: {
                    display: false
                },
                scales: {
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: "# of Bets"
                        },
                        ticks: {
                            beginAtZero: true,
                            stepSize: 1,
                            suggestedMax: 3
                        }
                    }],
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: "Hair Color"
                        }
                    }]
                }
            }
        });
        {% endif %}


        {% if bFNameData[3] %}
        var allBFNameEle = document.getElementById('allFNameBets');
        var allFNameBets = [];
        var allFNameCounts = [];
        var bfnBackgroundColor = [];
        var bfnBorderColor = [];
        var bfnColorCount = 0;
        {% for value in bFNameData[3] %}
            allFNameCounts.push({{ value[0] }});
            allFNameBets.push('{{ value[1] }}');
            bfnBackgroundColor.push(allBackgroundColor[bfnColorCount]);
            bfnBorderColor.push(allBorderColor[bfnColorCount]);
            bfnColorCount++;
            if (bfnColorCount == colorTypes) { bfnColorCount=0; }
        {% endfor %}
        var allbFNameChar = new Chart(allBFNameEle, {
            type: 'horizontalBar',
            data: {
                labels: allFNameBets,
                datasets: [{
                    data: allFNameCounts,
                    backgroundColor: bfnBackgroundColor,
                    borderColor: bfnBorderColor
                }]
            },
            options: {
                legend: {
                    display: false
                },
                scales: {
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: "# of Bets"
                        },
                        ticks: {
                            beginAtZero: true,
                            stepSize: 1,
                            suggestedMax: 3
                        }
                    }],
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: "First Name Initial"
                        }
                    }]
                }
            }
        });
        {% endif %}

{% if bMNameData[3] %}
        var allBMNameEle = document.getElementById('allMNameBets');
        var allMNameBets = [];
        var allMNameCounts = [];
        var bmnBackgroundColor = [];
        var bmnBorderColor = [];
        var bmnColorCount = 0;
        {% for value in bMNameData[3] %}
            allMNameCounts.push({{ value[0] }});
            allMNameBets.push('{{ value[1] }}');
            bmnBackgroundColor.push(allBackgroundColor[bmnColorCount]);
            bmnBorderColor.push(allBorderColor[bmnColorCount]);
            bmnColorCount++;
            if (bmnColorCount == colorTypes) { bmnColorCount=0; }
        {% endfor %}
        var allbMNameChar = new Chart(allBMNameEle, {
            type: 'horizontalBar',
            data: {
                labels: allMNameBets,
                datasets: [{
                    data: allMNameCounts,
                    backgroundColor: bmnBackgroundColor,
                    borderColor: bmnBorderColor
                }]
            },
            options: {
                legend: {
                    display: false
                },
                scales: {
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: "# of Bets"
                        },
                        ticks: {
                            beginAtZero: true,
                            stepSize: 1,
                            suggestedMax: 3
                        }
                    }],
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: "Middle Name Initial"
                        }
                    }]
                }
            }
        });
        {% endif %}

    </script>

{% endblock %}