{% extends 'base.html' %}

{% block title %}View All Bets{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Current Bets, Paid and Unpaid</h1>
        </div>

        <div class="card" style="width: 288px;">
            <canvas class="card-img-top" id="allDateBets" width="288" height="180"></canvas>
            <div class="card-body">
                <h5 class="card-title">All Birth Date Bets</h5>
                <ul class="card-text">
                    <li>Total Bets: {% if bDateData[0] %}{{ bDateData[0] }}{% else %}0{% endif %}</li>
                    <li>Total Paid Bets: {% if bDateData[1] %}{{ bDateData[1]}}{% else %}0{% endif %}</li>
                </ul>
            </div>
        </div>

        <div class="card" style="width: 288px;">
            <canvas class="card-img-top" id="allTimeBets" width="288" height="180"></canvas>
            <div class="card-body">
                <h5 class="card-title">All Birth Time Bets</h5>
                <ul class="card-text">
                    <li>Total Bets: {% if bTimeData[0] %}{{ bTimeData[0] }}{% else %}0{% endif %}</li>
                    <li>Total Paid Bets: {% if bTimeData[1] %}{{ bTimeData[1] }}{% else %}0{% endif %}</li>
                </ul>
            </div>
        </div>

            <div class="card" style="width: 288px;">
            <canvas class="card-img-top" id="allWeightBets" width="288" height="180"></canvas>
            <div class="card-body">
                <h5 class="card-title">All Birth Weight Bets</h5>
                <ul class="card-text">
                    <li>Total Bets: {% if bWeightData[0] %}{{ bWeightData[0] }}{% else %}0{% endif %}</li>
                    <li>Total Paid Bets: {% if bWeightData[1] %}{{ bWeightData[1] }}{% else %}0{% endif %}</li>
                </ul>
            </div>
        </div>

            <div class="card" style="width: 288px;">
            <canvas class="card-img-top" id="allLengthBets" width="288" height="180"></canvas>
            <div class="card-body">
                <h5 class="card-title">All Birth Length Bets</h5>
                <ul class="card-text">
                    <li>Total Bets: {% if bLengthData[0] %}{{ bLengthData[0] }}{% else %}0{% endif %}</li>
                    <li>Total Paid Bets: {% if bLengthData[1] %}{{ bLengthData[1] }}{% else %}0{% endif %}</li>
                </ul>
            </div>
        </div>

        <div class="card" style="width: 288px;">
            <canvas class="card-img-top" id="allHairBets" width="288" height="180"></canvas>
            <div class="card-body">
                <h5 class="card-title">All Hair Color Bets</h5>
                <ul class="card-text">
                    <li>Total Bets: {% if bHairData[0] %}{{ bHairData[0] }}{% else %}0{% endif %}</li>
                    <li>Total Paid Bets: {% if bHairData[1] %}{{ bHairData[1] }}{% else %}0{% endif %}</li>
                </ul>
            </div>
        </div>

            <div class="card" style="width: 288px;">
            <canvas class="card-img-top" id="allFNameBets" width="288" height="180"></canvas>
            <div class="card-body">
                <h5 class="card-title">All First Initial Bets</h5>
                <ul class="card-text">
                    <li>Total Bets: {% if bFNameData[0] %}{{ bFNameData[0] }}{% else %}0{% endif %}</li>
                    <li>Total Paid Bets: {% if bFNameData[1] %}{{ bFNameData[1] }}{% else %}0{% endif %}</li>
                </ul>
            </div>
        </div>

        <div class="card" style="width: 288px;">
            <canvas class="card-img-top" id="allMNameBets" width="288" height="180"></canvas>
            <div class="card-body">
                <h5 class="card-title">All Middle Initial Bets</h5>
                <ul class="card-text">
                    <li>Total Bets: {% if bMNameData[0] %}{{ bMNameData[0] }}{% else %}0{% endif %}</li>
                    <li>Total Paid Bets: {% if bMNameData[1] %}{{ bMNameData[1] }}{% else %}0{% endif %}</li>
                </ul>
            </div>
        </div>
    </div>

    <script>
        {% if bDateData[3] %}
        var allBDateEle = document.getElementById('allDateBets');
        var allDateBets = [];
        var allDateCounts = [];
        {% for value in bDateData[3] %}
            allDateCounts.push({{ value[0] }});
            allDateBets.push('{{ value[1] }}');
        {% endfor %}
        var allbDateChar = new Chart(allBDateEle, {
            type: 'horizontalBar',
            data: {
                labels: allDateBets,
                datasets: [{
                    data: allDateCounts
                }]
            },
            options: {
                legend: {
                    display: false
                },
                scales: {
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: "# of Bets"
                        },
                        ticks: {
                            beginAtZero: true,
                            stepSize: 1,
                            suggestedMax: 3
                        }
                    }]
                }
            }
        });
        {% endif %}
    </script>
    <script src="{{ url_for('static', filename='js/AllTimeBets.js') }}"></script>

{% endblock %}