{% extends 'base.html' %}

{% block title %}View Paid Bets{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Current Paid Bets</h1>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">Birth Date Bets</h1>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="thumbnail">
                            <div class="caption">
                                <h3>Paid Birth Date Bets</h3>
                            </div>
                            <canvas id="paidDateBets"></canvas>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <ul class="card-text">
                        <li>Total Bets: {% if bDateData[0] %}{{ bDateData[0] }}{% else %}0{% endif %}</li>
                        <li>Total Paid Bets: {% if bDateData[1] %}{{ bDateData[1]}}{% else %}0{% endif %}</li>
                        <li>Total Pot Value: ${% if bDateData[2] %}{{ bDateData[2] }}{% else %}0{% endif %}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">Birth Time Bets</h1>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="thumbnail">
                            <div class="caption">
                                <h3>Paid Birth Time Bets</h3>
                            </div>
                            <canvas id="paidTimeBets"></canvas>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <ul class="card-text">
                        <li>Total Bets: {% if bTimeData[0] %}{{ bTimeData[0] }}{% else %}0{% endif %}</li>
                        <li>Total Paid Bets: {% if bTimeData[1] %}{{ bTimeData[1]}}{% else %}0{% endif %}</li>
                        <li>Total Pot Value: ${% if bTimeData[2] %}{{ bTimeData[2] }}{% else %}0{% endif %}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">Birth Weight Bets</h1>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="thumbnail">
                            <div class="caption">
                                <h3>Paid Birth Weight Bets</h3>
                            </div>
                            <canvas id="paidWeightBets"></canvas>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <ul class="card-text">
                        <li>Total Bets: {% if bWeightData[0] %}{{ bWeightData[0] }}{% else %}0{% endif %}</li>
                        <li>Total Paid Bets: {% if bWeightData[1] %}{{ bWeightData[1]}}{% else %}0{% endif %}</li>
                        <li>Total Pot Value: ${% if bWeightData[2] %}{{ bWeightData[2] }}{% else %}0{% endif %}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">Birth Length Bets</h1>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="thumbnail">
                            <div class="caption">
                                <h3>Paid Birth Length Bets</h3>
                            </div>
                            <canvas id="paidLengthBets"></canvas>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <ul class="card-text">
                        <li>Total Bets: {% if bLengthData[0] %}{{ bLengthData[0] }}{% else %}0{% endif %}</li>
                        <li>Total Paid Bets: {% if bLengthData[1] %}{{ bLengthData[1]}}{% else %}0{% endif %}</li>
                        <li>Total Pot Value: ${% if bLengthData[2] %}{{ bLengthData[2] }}{% else %}0{% endif %}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">Birth Hair Color Bets</h1>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="thumbnail">
                            <div class="caption">
                                <h3>Paid Hair Color Bets</h3>
                            </div>
                            <canvas id="paidHairBets"></canvas>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <ul class="card-text">
                        <li>Total Bets: {% if bHairData[0] %}{{ bHairData[0] }}{% else %}0{% endif %}</li>
                        <li>Total Paid Bets: {% if bHairData[1] %}{{ bHairData[1]}}{% else %}0{% endif %}</li>
                        <li>Total Pot Value: ${% if bHairData[2] %}{{ bHairData[2] }}{% else %}0{% endif %}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">First Name Initial Bets</h1>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="thumbnail">
                            <div class="caption">
                                <h3>Paid First Initial Bets</h3>
                            </div>
                            <canvas id="paidFNameBets"></canvas>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <ul class="card-text">
                        <li>Total Bets: {% if bFNameData[0] %}{{ bFNameData[0] }}{% else %}0{% endif %}</li>
                        <li>Total Paid Bets: {% if bFNameData[1] %}{{ bFNameData[1]}}{% else %}0{% endif %}</li>
                        <li>Total Pot Value: ${% if bFNameData[2] %}{{ bFNameData[2] }}{% else %}0{% endif %}</li>
                    </ul>
                </div>
            </div>
        </div>

                <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">Middle Name Initial Bets</h1>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="thumbnail">
                            <div class="caption">
                                <h3>Paid Middle Initial Bets</h3>
                            </div>
                            <canvas id="paidMNameBets"></canvas>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <ul class="card-text">
                        <li>Total Bets: {% if bMNameData[0] %}{{ bMNameData[0] }}{% else %}0{% endif %}</li>
                        <li>Total Paid Bets: {% if bMNameData[1] %}{{ bMNameData[1]}}{% else %}0{% endif %}</li>
                        <li>Total Pot Value: ${% if bMNameData[2] %}{{ bMNameData[2] }}{% else %}0{% endif %}</li>
                    </ul>
                </div>
            </div>
        </div>


    <script>

    var allBackgroundColor = [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)'
    ];
    var allBorderColor = [
        'rgba(255, 99, 132, 1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
    ];
    var colorTypes = 6

        {% if bDateData[4] %}
        var paidBDateEle = document.getElementById('paidDateBets');
        var paidDateBets = [];
        var paidDateCounts = [];
        var pbdBackgroundColor = [];
        var pbdBorderColor = [];
        var pbdColorCount = 0;
        {% for value in bDateData[4] %}
            paidDateCounts.push({{ value[0] }});
            paidDateBets.push('{{ value[1] }}');
            pbdBackgroundColor.push(allBackgroundColor[pbdColorCount]);
            pbdBorderColor.push(allBorderColor[pbdColorCount]);
            pbdColorCount++;
            if (pbdColorCount == colorTypes) { pbdColorCount=0; }
        {% endfor %}
        var paidbDateChar = new Chart(paidBDateEle, {
            type: 'horizontalBar',
            data: {
                labels: paidDateBets,
                datasets: [{
                    data: paidDateCounts,
                    backgroundColor: pbdBackgroundColor,
                    borderColor: pbdBorderColor
                }]
            },
            options: {
                legend: {
                    display: false
                },
                scales: {
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: "# of Bets"
                        },
                        ticks: {
                            beginAtZero: true,
                            stepSize: 1,
                            suggestedMax: 3
                        }
                    }],
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: "Date (yyyy-mm-dd)"
                        }
                    }]
                }
            }
        });
        {% endif %}

        {% if bTimeData[4] %}
        var paidBTimeEle = document.getElementById('paidTimeBets');
        var paidTimeBets = [];
        var paidTimeCounts = [];
        var pbtBackgroundColor = [];
        var pbtBorderColor = [];
        var pbtColorCount = 0;
        {% for value in bTimeData[4] %}
            paidTimeCounts.push({{ value[0] }});
            paidTimeBets.push('{{ value[1] }}h {{ value[2] }}m');
            pbtBackgroundColor.push(allBackgroundColor[pbtColorCount]);
            pbtBorderColor.push(allBorderColor[pbtColorCount]);
            pbtColorCount++;
            if (pbtColorCount == colorTypes) { pbtColorCount=0; }
        {% endfor %}
        var paidbTimeChar = new Chart(paidBTimeEle, {
            type: 'horizontalBar',
            data: {
                labels: paidTimeBets,
                datasets: [{
                    data: paidTimeCounts,
                    backgroundColor: pbtBackgroundColor,
                    borderColor: pbtBorderColor
                }]
            },
            options: {
                legend: {
                    display: false
                },
                scales: {
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: "# of Bets"
                        },
                        ticks: {
                            beginAtZero: true,
                            stepSize: 1,
                            suggestedMax: 3
                        }
                    }],
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: "Time of Day (h,m)"
                        }
                    }]
                }
            }
        });
        {% endif %}

        {% if bWeightData[4] %}
        var paidBWeightEle = document.getElementById('paidWeightBets');
        var paidWeightBets = [];
        var paidWeightCounts = [];
        var pbwBackgroundColor = [];
        var pbwBorderColor = [];
        var pbwColorCount = 0;
        {% for value in bWeightData[4] %}
            paidWeightCounts.push({{ value[0] }});
            paidWeightBets.push('{{ value[1] }}lb {{ value[2] }}oz');
            pbwBackgroundColor.push(allBackgroundColor[pbwColorCount]);
            pbwBorderColor.push(allBorderColor[pbwColorCount]);
            pbwColorCount++;
            if (pbwColorCount == colorTypes) { pbwColorCount=0; }
        {% endfor %}
        var paidbWeightChar = new Chart(paidBWeightEle, {
            type: 'horizontalBar',
            data: {
                labels: paidWeightBets,
                datasets: [{
                    data: paidWeightCounts,
                    backgroundColor: pbwBackgroundColor,
                    borderColor: pbwBorderColor
                }]
            },
            options: {
                legend: {
                    display: false
                },
                scales: {
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: "# of Bets"
                        },
                        ticks: {
                            beginAtZero: true,
                            stepSize: 1,
                            suggestedMax: 3
                        }
                    }],
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: "Weight (lb,oz)"
                        }
                    }]
                }
            }
        });
        {% endif %}

        {% if bLengthData[4] %}
        var paidBLengthEle = document.getElementById('paidLengthBets');
        var paidLengthBets = [];
        var paidLengthCounts = [];
        var pblBackgroundColor = [];
        var pblBorderColor = [];
        var pblColorCount = 0;
        {% for value in bLengthData[4] %}
            paidLengthCounts.push({{ value[0] }});
            paidLengthBets.push('{{ value[1] }}');
            pblBackgroundColor.push(allBackgroundColor[pblColorCount]);
            pblBorderColor.push(allBorderColor[pblColorCount]);
            pblColorCount++;
            if (pblColorCount == colorTypes) { pblColorCount=0; }
        {% endfor %}
        var paidbLengthChar = new Chart(paidBLengthEle, {
            type: 'horizontalBar',
            data: {
                labels: paidLengthBets,
                datasets: [{
                    data: paidLengthCounts,
                    backgroundColor: pblBackgroundColor,
                    borderColor: pblBorderColor
                }]
            },
            options: {
                legend: {
                    display: false
                },
                scales: {
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: "# of Bets"
                        },
                        ticks: {
                            beginAtZero: true,
                            stepSize: 1,
                            suggestedMax: 3
                        }
                    }],
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: "Length (inches)"
                        }
                    }]
                }
            }
        });
        {% endif %}

        {% if bHairData[4] %}
        var paidBHairEle = document.getElementById('paidHairBets');
        var paidHairBets = [];
        var paidHairCounts = [];
        var pbhBackgroundColor = [];
        var pbhBorderColor = [];
        var pbhColorCount = 0;
        {% for value in bHairData[4] %}
            paidHairCounts.push({{ value[0] }});
            paidHairBets.push('{{ value[1] }}');
            pbhBackgroundColor.push(paidBackgroundColor[pbhColorCount]);
            pbhBorderColor.push(paidBorderColor[pbhColorCount]);
            pbhColorCount++;
            if (pbhColorCount == colorTypes) { pbhColorCount=0; }
        {% endfor %}
        var paidbHairChar = new Chart(paidBHairEle, {
            type: 'horizontalBar',
            data: {
                labels: paidHairBets,
                datasets: [{
                    data: paidHairCounts,
                    backgroundColor: pbhBackgroundColor,
                    borderColor: pbhBorderColor
                }]
            },
            options: {
                legend: {
                    display: false
                },
                scales: {
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: "# of Bets"
                        },
                        ticks: {
                            beginAtZero: true,
                            stepSize: 1,
                            suggestedMax: 3
                        }
                    }],
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: "Hair Color"
                        }
                    }]
                }
            }
        });
        {% endif %}


        {% if bFNameData[4] %}
        var paidBFNameEle = document.getElementById('paidFNameBets');
        var paidFNameBets = [];
        var paidFNameCounts = [];
        var pbfnBackgroundColor = [];
        var pbfnBorderColor = [];
        var pbfnColorCount = 0;
        {% for value in bFNameData[4] %}
            paidFNameCounts.push({{ value[0] }});
            paidFNameBets.push('{{ value[1] }}');
            pbfnBackgroundColor.push(allBackgroundColor[pbfnColorCount]);
            pbfnBorderColor.push(allBorderColor[pbfnColorCount]);
            pbfnColorCount++;
            if (pbfnColorCount == colorTypes) { pbfnColorCount=0; }
        {% endfor %}
        var paidbFNameChar = new Chart(paidBFNameEle, {
            type: 'horizontalBar',
            data: {
                labels: paidFNameBets,
                datasets: [{
                    data: paidFNameCounts,
                    backgroundColor: pbfnBackgroundColor,
                    borderColor: pbfnBorderColor
                }]
            },
            options: {
                legend: {
                    display: false
                },
                scales: {
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: "# of Bets"
                        },
                        ticks: {
                            beginAtZero: true,
                            stepSize: 1,
                            suggestedMax: 3
                        }
                    }],
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: "First Name Initial"
                        }
                    }]
                }
            }
        });
        {% endif %}


    {% if bMNameData[4] %}
        var paidBMNameEle = document.getElementById('paidMNameBets');
        var paidMNameBets = [];
        var paidMNameCounts = [];
        var pbmnBackgroundColor = [];
        var pbmnBorderColor = [];
        var pbmnColorCount = 0;
        {% for value in bMNameData[4] %}
            paidMNameCounts.push({{ value[0] }});
            paidMNameBets.push('{{ value[1] }}');
            pbmnBackgroundColor.push(allBackgroundColor[pbmnColorCount]);
            pbmnBorderColor.push(allBorderColor[pbmnColorCount]);
            pbmnColorCount++;
            if (pbmnColorCount == colorTypes) { pbmnColorCount=0; }
        {% endfor %}
        var paidbMNameChar = new Chart(paidBMNameEle, {
            type: 'horizontalBar',
            data: {
                labels: paidMNameBets,
                datasets: [{
                    data: paidMNameCounts,
                    backgroundColor: pbmnBackgroundColor,
                    borderColor: pbmnBorderColor
                }]
            },
            options: {
                legend: {
                    display: false
                },
                scales: {
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: "# of Bets"
                        },
                        ticks: {
                            beginAtZero: true,
                            stepSize: 1,
                            suggestedMax: 3
                        }
                    }],
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: "Middle Name Initial"
                        }
                    }]
                }
            }
        });
        {% endif %}


    </script>

{% endblock %}