{% extends 'base.html' %}

{% block title %}Winners{% endblock %}

{% block content %}

<div class="container">
    <div class="page-header">
        <h1>Winners</h1>
    </div>
    <p>
        The winners have been selected based on the rules laid out at the start (winners must have paid their bet and the closest answer wins if there are no correct answers)! Winners are listed below by their first name, winners will recieve their portion of the pot to the venmo they used to submit their bet.<br>
        Congratulations to all the winners!
    </p>
</div>

<div class="container">
    <div class="page-header">
        <h3>Birth Date</h3>
    </div>
    <h4><b>Actual & Winning Answer:</b> April 15th</h4>
    <h4><b>Winners (each one winning ${{bdValue}}):</b></h4>
    <ul>
        {% for name in bdWinners %}
        <li>{{name[0]}}</li>
        {% endfor %}
    </ul>
</div>

<div class="container">
    <div class="page-header">
        <h3>Birth Time</h3>
    </div>
    <h4><b>Actual Answer:</b> 17:10</h4>
    <h4><b>Winning Answer:</b> 16:10</h4>
    <h4><b>Winners (each one winning ${{btValue}}):</b></h4>
    <ul>
        {% for name in btWinners %}
        <li>{{name[0]}}</li>
        {% endfor %}
    </ul>
</div>

<div class="container">
    <div class="page-header">
        <h3>Birth Weight</h3>
    </div>
    <h4><b>Actual Answer:</b> 7 lbs 15 oz</h4>
    <h4><b>Winning Answer:</b> 8 lbs 0 oz</h4>
    <h4><b>Winners (each one winning ${{bwValue}}):</b></h4>
    <ul>
        {% for name in bwWinners %}
        <li>{{name[0]}}</li>
        {% endfor %}
    </ul>
</div>

<div class="container">
    <div class="page-header">
        <h3>Birth Length</h3>
    </div>
    <h4><b>Actual & Winning Answer:</b> 21 inches</h4>
    <h4><b>Winners (each one winning ${{blValue}}):</b></h4>
    <ul>
        {% for name in blWinners %}
        <li>{{name[0]}}</li>
        {% endfor %}
    </ul>
</div>

<div class="container">
    <div class="page-header">
        <h3>Birth Hair</h3>
    </div>
    <h4><b>Actual & Winning Answer:</b> Brown</h4>
    <h4><b>Winners (each one winning ${{bhValue}}):</b></h4>
    <ul>
        {% for name in bhWinners %}
        <li>{{name[0]}}</li>
        {% endfor %}
    </ul>
</div>

<div class="container">
    <div class="page-header">
        <h3>First Initial</h3>
    </div>
    <h4><b>Actual & Winning Answer:</b> A</h4>
    <h4><b>Winners (each one winning ${{bfnValue}}):</b></h4>
    <ul>
        {% for name in bfnWinners %}
        <li>{{name[0]}}</li>
        {% endfor %}
    </ul>
</div>

<div class="container">
    <div class="page-header">
        <h3>Middle Initial</h3>
    </div>
    <h4><b>Actual & Winning Answer:</b> J</h4>
    <h4><b>Winners (each one winning ${{bmnValue}}):</b></h4>
    <ul>
        {% for name in bmnWinners %}
        <li>{{name[0]}}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}